*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(233, 47%, 7%);
  min-height: 100vh;
  font-family: 'lexend Deca', sans-serif;
  font-size: 14px;
}


.container{
  display: flex;
  background-color: hsl(244, 38%, 16%);
}
.container{
  border-radius: 10px;
  width: 690px;
  height: 300px;
}

img{
  width: 320px;
  height: 300px;
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}

.image{
  background-color:hsl(277, 64%, 61%);
}

.text{
  margin-top: 30px;
  margin-left: 30px;
}

.text h1{
  color: #fff;
}

.text p{
  color: hsla(0, 0%, 100%, 0.6);
  margin-top: 20px;
}

.insight{
  color: hsl(277, 64%, 61%);
}

.numbers{
  display: flex;

}
.numbers{
  margin-top: 30px;
}

.numbers h1{
  font-size: 22px;
}

.details{
  text-transform: uppercase;
  font-size: 11px;
  color: hsla(0, 0%, 100%, 0.6);
  margin-top: 5px;
}

@media only screen and (max-width: 650px) {
  .container{
    width: 360px;
    display: flex;
    flex-direction: column;
  }
  
  img{
    height: 100%;
    width: 360px;
  }

  .image{
    order: 1;
  }
  .text{
    text-align: center;
    order: 2;
  }

  .numbers{
    display: inline-block;
    flex-direction: column;

  }
  .numbers{
    margin-bottom:5%;
  }

  .details{
    display:flex;
    flex-direction: column;
    
  }

}